<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/about.css">
    <title>Document</title>
</head>
<body>
    <div class="transbox">
        <h1>Biografía</h1>
        <p>Pierre-Louis Costes nació el 25 de enero de 1990. Es un joven bodyboarder francés. <br>
            <br>
            Es uno de los mejores jóvenes bodyboarders en el mundo y es la mayor esperanza de Europa. Inició en el bodyboard en Casablanca en Marruecos , donde ascendió rápidamente bajo la protección de los surfistas locales del punto 23 y Dar Bouazza.
            Se unió al equipo de Francia junior con tan sólo 12 años y obtuvo su primer título de campeón de Europa a los 14 años. A los 15 años fue el miembro más joven del equipo de Francia, ganó el 5 º lugar en el Campeonato de Europa. <br>
            <br>
            En 2005, ocupa el puesto 21 en todo el mundo en el circuito profesional IBA ganar una etapa en Australia. <br>
            <br>
            En 2006, es el número 28 en todo el mundo ... Pero es elegido como el mejor joven del circuito, así como el 11 º en el ranking realizado por los propios bodyboarders. <br>
            <br>
            En 2009, terminó 2º en el Mundial en la primera  etapa del Tour IBA detrás de Ryan Hardy y antes de Guillermo Tamega y de Dave Winchester. <br>
            <br>
            Durante la primera etapa de la IBA en la Isla del Tiburón, llegó a las semifinales admirablemente donde fue eliminado por el en ese momento campeón del mundo Jeff Hubbard.
            Sin embargo, en el desafío de Arica en Chile le vence y alcanza el podio ... va a resultar largo como el favorito en este caso (ha hecho una mortal hacia atrás y el ARS en secciones muy delicadas) antes de perder contra un muy buen táctico en la final, Centeno, quien confesó que su rival era mejor que él. <br>
            Después de este evento chileno, PLC está posicionado en el 6 º  lugar en todo el mundo.
            <br>
            En Portugal, dos acontecimientos están en el programa, en Nazaré y el otro en Sintra, donde se elimina a PLC, respectivamente, en semifinales y cuartos en condiciones de surf pobres. Sin embargo, conserva su puesto en el IBA ranking. <br>
            <br>
            En 2011, después de un final completo de la etapa de suspense sobre la ola mítica de FRONTON, Pierre Louis Coste es campeón del mundo en 2011 bodyboard, el espaldarazo definitivo para un bodyboarder.</p>
    </div>
</body>
</html>