<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style_index.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="container">
        <div>
            <img src="/images/Pierre-louis-costes.jpeg" alt="">
        </div>
        <div class="container_info">
            <h1>Pierre-Louis Costes</h1>
            <h2>"El mejor Bodyboarder del mundo"</h2>
            <p>Pierre-Louis Costes nació el 25 de enero 1990.
                Ha empezado el bodyboard en Marruecos antes de moverse a Francia y surfear los picos de Hossegor.
                Ha alcanzado un gran renombre en la escena internacional al fin de los años 2000 con un segundo lugar en el Pipeline Pro 2009 desde el australiano Ryan Hardy.
                Pierre-Louis Costes surfea para Pride Bodyboards desde 2011 y ha conquistado todos sus títulos surfeando su propio modelo: The Answer.</p>
        </div>
    </div>
</body>
</html>