<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/works.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Works</h1>
        </div>
    </header>
    <div class="container">
        <div class="container_competiciones">
            <h2>Competiciones</h2>
            <img src="/images/Pierre-Louis champion.jpeg" alt="Pierre-louis campeón del mundo">
            <p>Presente en todas las grandes competiciones de bodyboard. 
                Con la de este año 2021, es ¡4 veces campeon del mundo!
            </p>
        </div>
        <div class="container_free">
            <h2>Free surfing!</h2>
            <img src="/images/pierre-louis free.jpeg" alt="Pierre-louis y su hijo">
            <p>También le gusta pasar tiempo con su familia, y surfear simplemente por diversión</p>
        </div>
    </div>
    <div class="container_camps">
        <h2>Costes Camps</h2>
        <img src="/images/exploring-panaitan.png" alt="Pierre-Louis barrel">
        <p>Recientemente ha creado el surf-camp llamado Costes-Camps, acudes a clases personalizadas y pasas aproximadamente una semana llendo al agua y aprendiendo con Pierre-Louis🤟🏾</p>
    </div>
</body>
</html>