body{
    background-color: rgb(183, 229, 243);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    height: 50px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.container_competiciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 300px;
}
.container_competiciones > img{
    width: 300px;
    border: 2px solid black;
}
.container_free{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 300px;
}
.container_free > img{
    width: 300px;
    border: 2px solid black;
}
.container_camps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
.container_camps > p{
    max-width: 650px;
}
.container_camps > img{
    border: 2px solid black;
}
